<mat-card color="primary" class="container">
  <a
    href="/home"
    class="router-link"
    routerLink="/home"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    <img
      class="icon-traq"
      src="/assets/images/frutas-e-vegetais.png"
      alt="Traq icon"
    />
  </a>
  <mat-card-content class="card-register bakcground-register">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
      <mat-card-subtitle>Access</mat-card-subtitle>
    </mat-card-header>
    <form [formGroup]="register" (ngSubmit)="printForm()">
      <mat-card-content class="conteudo-register">
        <mat-form-field appearance="outline" class="form-field-full">
          <mat-label id="name" class="text-default">Name</mat-label>
          <input matInput placeholder="Ex: Traq" formControlName="name" />
          @if (register.controls['name'].invalid) {
          <mat-error aria-describedby="name">
            {{ getNameErrorMessage() }}
          </mat-error>
          }
          <mat-hint align="end">{{ register.value.name?.length }}/24</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field-full">
          <mat-label id="email" class="text-default">Email</mat-label>
          <input
            matInput
            placeholder="Ex: Traq@email.com"
            formControlName="email"
          />
          @if (register.controls['email'].invalid) {
          <mat-error aria-describedby="account">
            {{ getEmailErrorMessage() }}
          </mat-error>
          }
          <mat-hint align="end">{{ register.value.email?.length }}/36</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field-full">
          <mat-label id="password" class="text-default">Password</mat-label>
          <input
            matInput
            placeholder="Ex: 123"
            class="border-primary"
            formControlName="password"
            [type]="hide ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hidePassword($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          @if (register.controls['password'].invalid) {
          <mat-error>
            {{ getPasswordErrorMessage() }}
          </mat-error>
          }
          <mat-hint align="end"
            >{{ register.value.password?.length }}/24</mat-hint
          >
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field-full">
          <mat-label id="confirmPassword" class="text-default"
            >Password</mat-label
          >
          <input
            matInput
            placeholder="Ex: 123"
            class="border-primary"
            formControlName="confirmPassword"
            [type]="hide ? 'password' : 'text'"
          />
          @if (register.controls['confirmPassword'].invalid) {
          <mat-error>
            {{ getConfirmPasswordErrorMessage() }}
          </mat-error>
          }
          <mat-hint align="end"
            >{{ register.value.confirmPassword?.length }}/24</mat-hint
          >
        </mat-form-field>
        <mat-label> Don't have account <a href="/login">sing-in</a> </mat-label>
        <button mat-flat-button color="primary" type="submit">Register</button>
      </mat-card-content>
    </form>
  </mat-card-content>
</mat-card>
