/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --primaryColor: #00F5A0;
    --secondColor: #00D9F5;
    --textColor: #A4A4A4;
}